name: Terraform Apply (Development)

on:
    workflow_dispatch:
    pull_request:
        branches:
            - main
        types:
            - closed
        paths:
            - 'terraform/**'

env:
    SESSION_NAME: gh-oidc-${{ github.run_id }}-${{ github.run_attempt }}
    ENVIRONMENT: dev # 環境によって指定を変更する

defaults:
  run:
    working-directory: terraform/environments/dev # 環境によって指定を変更する

jobs:
    terraform-apply:
      runs-on: ubuntu-latest
      if: github.event.pull_request.merged == true
      permissions:
        id-token: write
        contents: read
      environment: dev # 環境によって指定を変更する

      steps:
            - name: Checkout code
              uses: actions/checkout@v6

            - name: Setup Terraform
              uses: hashicorp/setup-terraform@v3
              with:
                terraform_version: 1.14

            - name: Configure AWS credentials
              uses: aws-actions/configure-aws-credentials@v5
              with:
                role-to-assume: ${{ vars.AWS_ROLE_ARN_TERRAFORM }}
                role-session-name: ${{ env.SESSION_NAME }}
                aws-region: ap-northeast-1

            - name: Terraform Init
              run: terraform init

            - name: Terraform Validate
              run: terraform validate

            - name: Terraform Plan
              run: terraform plan

            - name: Terraform Apply
              run: terraform apply -auto-approve
