name: Test Frontend
on:
    workflow_dispatch:
    pull_request:
        paths:
            - 'frontend/**'
            - 'package.json'
            - 'pnpm-lock.yaml'
            - 'pnpm-workspace.yaml'
jobs:
    lint-and-build:
        runs-on: ubuntu-latest

        steps:
            - name: Checkout code
              uses: actions/checkout@v6

            - name: Setup pnpm
              uses: pnpm/action-setup@v4

            - name: Setup Node.js
              uses: actions/setup-node@v6
              with:
                node-version: "24"
                cache: 'pnpm'

            - name: Install dependencies
              run: pnpm install

            - name: Format check
              run: pnpm -F frontend format:check

            - name: Lint
              run: pnpm -F frontend lint

            - name: Type check
              run: pnpm -F frontend type-check

            - name: Build
              run: pnpm -F frontend build
