name: Test Backend
on:
    workflow_dispatch:
    pull_request:
        paths:
            - 'backend/**'
            - 'package.json'
            - 'pnpm-lock.yaml'
            - 'pnpm-workspace.yaml'
jobs:
    lint-and-build:
        runs-on: ubuntu-latest

        steps:
            - name: Checkout code
              uses: actions/checkout@v6

            - name: Setup pnpm
              uses: pnpm/action-setup@v4

            - name: Setup Node.js
              uses: actions/setup-node@v6
              with:
                node-version: "24"
                cache: 'pnpm'

            - name: Setup SAM CLI
              uses: aws-actions/setup-sam@v2

            - name: Install dependencies
              run: pnpm install

            - name: Format check
              run: pnpm format:check

            - name: Lint
              run: pnpm lint

            - name: Type check
              run: pnpm --filter backend type-check

            - name: Build
              run: pnpm --filter backend build

            - name: Validate SAM template
              working-directory: backend
              run: sam validate --lint
